# default properties
spring.batch.job.enabled=false
chunk.interval=10
async.thread_pool_size=5
async.thread_pool_max=10
processor.thread_pool_size=5
processor.thread_pool_max=10

# client-specific topics to listen or publish on
lims.publisher_topic=
nats.filter_subject=

# nats connection properties
nats.consumer_name=
nats.consumer_password=
nats.url=

# nats ssl
nats.tls_channel=
nats.keystore_path=
nats.truststore_path=
nats.key_password=
nats.store_password=

# lims connection properties
lims.base_url=
lims.username=
lims.password=
lims.request_samples_endpoint=
lims.sample_manifest_endpoint=
lims.request_deliveries_endpoint=

# smile publishing failures filepath
smile.publishing_failures_filepath=

# smile service connection properties
smile.base_url=
smile.request_endpoint=
smile.cmo_new_request_topic=
